*.pdf    filter=lfs diff=lfs merge=lfs binary
*.xls    filter=lfs diff=lfs merge=lfs binary
*.xlsx   filter=lfs diff=lfs merge=lfs binary
*.xlsm   filter=lfs diff=lfs merge=lfs binary
*.doc    filter=lfs diff=lfs merge=lfs binary
*.docx   filter=lfs diff=lfs merge=lfs binary
*.jar    filter=lfs diff=lfs merge=lfs binary
*.class  filter=lfs diff=lfs merge=lfs binary
*.zip    filter=lfs diff=lfs merge=lfs binary
*.dll    filter=lfs diff=lfs merge=lfs binary
*.msi    filter=lfs diff=lfs merge=lfs binary
*.exe    filter=lfs diff=lfs merge=lfs binary
*.pdb    filter=lfs diff=lfs merge=lfs binary
*.deploy filter=lfs diff=lfs merge=lfs binary
*.dmp    filter=lfs diff=lfs merge=lfs binary
*.ico    filter=lfs diff=lfs merge=lfs binary
*.war    filter=lfs diff=lfs merge=lfs binary
*.vsd    filter=lfs diff=lfs merge=lfs binary
